:root {
    --color-primary: rgb(0, 2, 128);
    --bg-dark: #141414;
    --text-color: #fff;
    --btn-color: #2600ff;
    --header-bg: rgba(0, 0, 0, 0.8);
    --linear-bg: linear-gradient(to right, aqua, purple);
}

.logo:hover {
    letter-spacing: 10px;
    animation: acender 0.5s forwards;
}

.titulo {
    background-image: linear-gradient(to right, #00fff2, rgb(0, 77, 128), #0084ff);
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 700;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

.titulo:hover {
    animation: acender 0.5s forwards;
}




@keyframes acender {
    to {
        color: var(--text-color);
        text-shadow: 0 0 10px #2384f3, 0 0 20px #a8dfe1;
    }
}